.main {
    background-color: #f8f8f8;
    padding: 150px 0; 
}

.signin{
    margin-bottom: 150px;
}
.signin-container{
    display: flex;
    flex-direction: row;
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.signin-content{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 75px 0;
}
.login-heading{
    margin: 20px 0 0 20px;
    font-size: 35px;
    color: #040404;
}
.signin-form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
   padding:10px 0px;
   margin: 30px 10px;
   overflow: hidden;
}
.signin-img{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: #393DDF;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color:#fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
}
.signin-img img{
    width: 50%;
}

.form-grouping{
    width: 100%;
}
.signin-input{
    color: #ababab;
    font-weight: lighter;
    font-size: 1.2rem;
    padding: 0.4rem 0.4rem;
    border-radius: 5px;
    border: 3px solid #ABABAB;
    width: 90%;
    display: block;
    transition: all 0.3s;
  }
.inner-grouping{
    margin: 10px;
}

.signin-form a{
    text-decoration: none;
    font-weight: bold;
    color:#1B0CAF;
}

.login-btn {
    font-family: Hack, monospace;
    background: #1B0CAF;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 5px;
    margin-top: 25px;
    position: relative;
    min-width: 250px;
}
.login-btn:hover {
    background: #393DDF;
    transition: all 0.5s;
    border-radius: 5px;
    box-shadow: 0px 6px 15px #0000ff61;
    color: #ffffff;
}
.login-btn::after {
    content: "\f2f6";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:768px){
    .main{
        padding: 50px 0;
    }
    .signin{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .signin-container{
        width: fit-content;
        flex-direction: column;
    }
    .signin-content{
        width: 100%;
    }
    .signin-img{
        width: 100%;
        border-top-left-radius:20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

@media screen and (max-width:2560px){
    .signin{
        display: flex;
        justify-content: center;
    }
    .signin-container{
        width: fit-content;
    }
}

@media screen and (max-width:400px){
    .main{
        padding: 30;
    }
    .signin{
        margin-bottom: 0;
    }
    .signin-img{
        font-size: 14px;
    }
}
@media screen and (max-width : 380px){
    .signin-img{
        font-size: 12px;
    }
    .login-heading{
        margin: 15px 0px 0 20px;
        font-size: 30px;
    }
    .signin-form{
        padding: 20px 0;
    }
}